<mat-card
  *ngFor="let answer of answers_details; let i = index"
  class="example-card"
>
  <mat-card-header>
    <mat-card-title>Username:{{ answer.owner.display_name }}</mat-card-title>
    <mat-card-subtitle>Reputation: {{answer.owner.reputation}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-label>User link: </mat-label>
      <span>
        <a href="{{ answer.owner.link }}">view</a>
      </span>
    </div>
    <div>
      <mat-label>Is Accepted : </mat-label>
      <span>
        {{ answer.is_accepted }}
      </span>
    </div>
    <div>
      <mat-label>Score : </mat-label>
      <span>
        {{ answer.score }}
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><a href="{{ link }}">View answer</a></button>
  </mat-card-actions>
</mat-card>
