<div>
  <form [formGroup]="filtersForm">
    <mat-form-field appearance="outline">
      <mat-label>Answers count</mat-label>
      <input type="number" formControlName="answers" matInput placeholder="" />
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>User</mat-label>
      <input formControlName="user" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Url</mat-label>
      <input formControlName="url" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Views</mat-label>
      <input type="number" formControlName="views" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Accepted</mat-label>
      <mat-select formControlName="accepted">
        <mat-option value="True"> True </mat-option>
        <mat-option value="False"> False </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div>
  <button class=button mat-raised-button (click)="makeFilterCall()" color="primary">
    Submit
  </button>
</div>
</div>

