.questions-section {
    padding: 10px;
}
.questions {
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}
.main-content {
    display: flex;

}
.left-panel {
    flex: 1.2;
    border: 1px solid lightblue;
    padding: 10px;
    height: 80vh;
}

.right-panel {
    flex: 5;
    border: 1px solid lightblue;
    padding: 10px;
    height: 80vh;
    overflow-y: scroll;
}
h1 {
    text-align: center;
    margin: 5px 0;
    background: dimgray;
    color: white;
    padding: 10px;
    margin-bottom: 0;
}
.right-panel .mat-card {
    margin: 10px 0;

}
.right-panel .mat-card-actions {
    margin-left: 2px;
}
.right-panel mat-label {
    margin-left: 15px;
}
mat-paginator {
    position: absolute;
    bottom: 0;
    background: none;
}