<h1 class="mat-h1 mat-headline">Stackoverflow Search</h1>
<div class="main-content">
  <div class="left-panel">
    <app-filter-panel
      (filteredList)="onFilterApplied($event)"
    ></app-filter-panel>
  </div>
  <div class="right-panel">
    <mat-card
      *ngFor="let questions of questionsList; let i = index"
      class="example-card"
    >
      <mat-card-header>
        <mat-card-title>{{ questions.title }}</mat-card-title>
        <mat-card-subtitle>View Count:{{ questions.view_count }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-label>Is answered: </mat-label>
          <span>
            {{questions.is_answered}}
          </span>
        </div>
        <!-- <div>
          <mat-label>Score : </mat-label>
          <span>
            {{ answer.score }}
          </span>
        </div>
        <div>
          <mat-label>Score : </mat-label>
          <span>
            {{ answer.score }}
          </span>
        </div> -->
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          *ngIf="questions.answer_count > 0"
          (click)="navigateToAnswer(questions)"
        >
          View User details
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-paginator *ngIf="results"
      [length]="results.quota_remaining"
      [pageSize]="30"
      (page)="getServerData($event)"
    >
    </mat-paginator>
  </div>
</div>
